<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load crispy_forms_tags %}

  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Demo blocks</title>

</head>
<body>
  <header class="header">
    {% if user.is_anonymous %}
      <button type="button" class="header__button" data-toggle="modal"
              data-target="#AuthModal">Авторизация</button>
      <button type="button" class="header__button" data-toggle="modal"
              data-target="#RegModal">Регистрация</button>
    {% else %}
      <a href="{% url 'page_blocks:logout' %}">
        <button type="button" class="header__button">Разлогиниться</button>
      </a>
      <div class="header__user-block">Вы авторизованы как {{ user }}</div>
    {% endif %}
  </header>
  <main class="main">
    {% for block in blocks %}
      <div class="main__block block">
        {% include block.content_object.get_template_name %}
      </div>
    {% endfor %}
  </main>
  <footer class="footer">
    <button class="footer__feedback-button" type="button" data-toggle="modal"
            data-target="#FeedbackModal">Связаться <br>с<br> администрацией</button>
  </footer>
  <!-- Modal -->
  <div class="modal fade" id="AuthModal" data-backdrop="static" data-keyboard="false"
       tabindex="-1" role="dialog" aria-labelledby="AuthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="AuthModalLabel">Авторизация</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="authentication__form" id="authentication-form"
                action="{% url 'page_blocks:authentication' %}" method="post">
            {% csrf_token %}
            {{ auth_form|crispy }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-lg btn-primary"
                  form="authentication-form">Авторизироваться</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="RegModal" data-backdrop="static" data-keyboard="false"
       tabindex="-1" role="dialog" aria-labelledby="RegModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="RegModalLabel">Регистрация</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="registration__form" id="registration-form"
                action="{% url 'page_blocks:registration' %}" method="post">
            {% csrf_token %}
            {{ reg_form|crispy }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-lg btn-primary"
                  form="registration-form">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="FeedbackModal" data-backdrop="static" data-keyboard="false"
       tabindex="-1" role="dialog" aria-labelledby="FeedbackLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="FeedbackLabel">Оставить фидбек</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="feedback__form" id="feedback-form"
                action="{% url 'page_blocks:feedback' %}" method="post">
            {% csrf_token %}
            {{ feedback_form|crispy }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-lg btn-primary"
                  form="feedback-form">Отправить</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
</body>
</html>