<style>
    .block-ttb__container {
        align-items: center;
        display: flex;
        justify-content: center;
        height: inherit;
    }

    .block-ttb__content-block {
        align-items: center;
        border: 3px solid black;
        display: flex;
        flex-flow: column;
        min-height: 30vh;
        padding: 30px;
        text-indent: 30px;
        width: 100%;
    }

    .block-ttb__content-title {
        padding: 10px;
    }

    .block-ttb__content-button {
        border-radius: 15px;
        margin-top: auto;
        min-height: 70px;
        min-width: 20vw;
    }
</style>

{% with block.content_object as element %}
  <div class="block-ttb__container"
       style="background-color: {{ element.container_bg_color|default:"initial" }}">
    <div class="block-ttb__content-block"
         style="background-color: {{ element.content_bg_color_major|default:"orange" }}">
      <h3 class="block-ttb__content-title"
          style="font-size: {{ element.title_font_size|default:"50px" }};
              color: {{ element.title_font_color|default:"black" }}">
        {{ element.title }}</h3>
      <p class="block-ttb__content-text"
         style="font-size: {{ element.text_font_size|default:"25px" }};
             color: {{ element.text_font_color_major|default:"black" }}">
        {{ element.text }}</p>
      <button class="block-ttb__content-button btn"
              style="background-color: {{ element.button_bg_color|default:"darkviolet" }};
                  font-size: {{ element.button_font_size|default:"25px" }};
                  color: {{ element.button_font_color|default:"white" }}">
        {{ element.button_text }}</button>
    </div>
  </div>
{% endwith %}
