body {
    background-color: #E6EDF6;
}

.header {
    height: 50px;
    background-color: gainsboro;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
}

.authentication__form {

}

.main__block {

}

.block {
    height: 100vh;
}
