@import url(//fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap);

body {
    background-color: #E6EDF6;
    font-family: 'Comfortaa', cursive;
}

.header {
    height: 50px;
    background-color: gainsboro;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
}

.header__button {
    background: inherit;
    border: none!important;
    height: 100%;
    outline: none!important;
    padding: 0 30px;
}

.header__user-block {
    display: inline-block;
    cursor: default;
}

.authentication__form {

}

.main__block {

}

.block {
    height: 95vh;
}

.footer {

}

.footer__feedback-button {
    background-color: #0000005c;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    color: white;
    height: 200px;
    margin: 20px;
    outline: none!important;
    position: fixed;
    right: 0;
    width: 200px;
}

.footer__feedback-button:hover {
    background-color: black;
}
